<%- include('header') %>
<div class="result">
    <%= if(error) { %>
        <%= error %>
    <% }else{ %>
        <%= quantidade %>
        dolares na cotacao
        <%= cotacao %> é igual a: <%= conversao %> dolares
    <% } %>
</div>
<%- include('footer') %>